{% extends 'choir/base.html' %}

{% block title %}Sign Out - Clent Consort{% endblock title %}

{% block content %}
<div class="wrapper wrapper--narrow flow section-padding">
  <section class="card flow text-center" data-variant="invert">
    <h1>Sign Out</h1>
    <p>Are you sure you want to sign out of the member dashboard?</p>
    
    <form method="POST" action="{% url 'account_logout' %}">
      {% csrf_token %}
      
      {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
      {% endif %}
      
      <button type="submit" class="button btn-block" data-variant="primary" style="margin-block-start: var(--space-2xs)">Confirm Sign Out</button>
    </form>
  </section>
</div>
{% endblock content %}