{% extends 'choir/base.html' %}

{% block title %}Set New Password - Clent Consort{% endblock title %}

{% block content %}
<div class="wrapper flow section-padding container-narrow mx-auto">
  <section class="card flow" data-variant="invert">
    
    {% if token_fail %}
      <div class="text-center">
        <h1 class="text-error">Invalid Link</h1>
        <p>This password reset link is invalid or has expired. Please request a new one.</p>
        <a href="{% url 'account_reset_password' %}" class="button btn-block mt-s-1 text-center" data-variant="primary" style="text-decoration: none;">
          Request New Link
        </a>
      </div>
      
    {% else %}
      <div class="text-center">
        <h1>Set New Password</h1>
        <p>Please enter your new secure password below.</p>
      </div>

      <form method="POST" action="{{ action_url }}" class="flow">
        {% csrf_token %}

        <div class="form-group flow flow--small">
          {{ form.as_p }}
        </div>

        <button type="submit" class="button btn-block mt-s-1" data-variant="primary">Update Password</button>
      </form>
    {% endif %}

  </section>
</div>
{% endblock content %}