{% extends 'choir/base.html' %}

{% block title %}Password Updated - Clent Consort{% endblock title %}

{% block content %}
<div class="flow section-padding container-narrow mx-auto">
  <section class="card flow text-center" data-variant="invert">
    <h1 style="color: #c9a45e;">Password Updated</h1>
    <p>Your password has been successfully changed.</p>
    
    <a href="{% url 'account_login' %}" class="button btn-block mt-s-1" data-variant="primary" style="text-decoration: none;">
      Return to Login
    </a>
  </section>
</div>
{% endblock content %}