{% extends 'choir/base.html' %}
{% load static %}

{% block title %}Activate Account - Clent Consort{% endblock title %}

{% block content %}
<div class="l-stack section-padding container-narrow mx-auto">
  <section class="box invert l-stack">
    <div class="text-center">
      <h1>Activate Your Account</h1>
      <p>Welcome! Please set your password to complete your registration.</p>
    </div>

    <form method="POST" action="{% url 'account_signup' %}" class="l-stack">
      {% csrf_token %}

      {% for field in form %}
        <div class="form-group l-stack l-stack--small">
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
          {{ field }}
          
          {% if field.errors %}
            <div class="form-error" style="margin-top: 0.25rem;">
              {{ field.errors }}
            </div>
          {% endif %}
        </div>
      {% endfor %}

      <button type="submit" class="button btn-block mt-s-1" data-variant="primary">Complete Registration</button>
    </form>
  </section>
</div>
{% endblock content %}